<header class="pageHeader">
	<%= image_tag("logo.png", :alt => "MREA Home", :class => "logo")%>
	<nav>
		<ul>
			<li><%= image_tag("../images/help.png", :alt => "search", :class => "nav-icon" )%><%= link_to "Help" %></li>
			<li><%= image_tag("../images/log-in.png", :alt => "log in", :class => "nav-icon" )%><%= link_to "Log in" %></li>
			<li><%= image_tag("../images/register.jpg", :alt => "register", :class => "nav-icon" )%><%= link_to "Sign Up" %></li>
			<div class="search-wrap">
				<div class="search-img-bg left-round">
					<%= image_tag("../images/search_img.jpg", :alt => "search", :class => "search-img" )%>
				</div><!-- search-img-bg left-round -->
				<input name="search" type="text" class="search-container input right-round" style="margin: 0em 0; color: gray; background: #3a4047; border: none;" placeholder="search">
			</div><!-- end search-wrap -->
		</ul><!-- end ul -->
	</nav><!-- end nav -->
</header><!-- end header -->